{
  "semi": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-solidity"],
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "parser": "solidity-parse",
        "plugins": ["prettier-plugin-solidity"],
        "printWidth": 120,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "trailingComma": "none"
      }
    }
  ]
}